body{
font-family:Arial, Helvetica, sans-serif;
background:#f2f2f2;
margin:40px;
}

h1{
text-align:center;
}

h2{
text-align:center;
margin-bottom:30px;
}

.groups-container{
display:flex;
gap:25px;
flex-wrap:wrap;
justify-content:center;
}

.group-card{
background:white;
border-radius:10px;
padding:20px;
width:280px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.group-title{
font-size:20px;
font-weight:bold;
text-align:center;
margin-bottom:15px;
}

.group-header{
display:flex;
justify-content:space-between;
font-size:13px;
color:#666;
margin-bottom:10px;
}

.team-row{
background:#cfe3f6;
border-radius:8px;
margin-bottom:8px;
cursor:pointer;
padding:10px;
transition:0.25s;
}

.team-row:hover{
background:#b8d6ef;
}

.team-main{
display:flex;
justify-content:space-between;
align-items:center;
}

.team-name{
flex:1;
font-weight:500;
}

.team-stats{
width:70px;
text-align:center;
}

/* WIN / LOSS COLORS */

.team-row.win{
background:#d6f5d6;
}

.team-row.win:hover{
background:#c0eac0;
}

.team-row.loss{
background:#ffd6d6;
}

.team-row.loss:hover{
background:#f3bcbc;
}

/* PLAYERS ANIMATION */

.players{
max-height:0;
opacity:0;
overflow:hidden;
font-size:13px;
color:#444;
transition:max-height 0.35s ease, opacity 0.25s ease;
}

.team-row.open .players{
max-height:60px;
opacity:1;
margin-top:6px;
}
